fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
langgraph-checkpoint-sqlite
qdrant-client
sentence-transformers
pyvi
fastembed
beautifulsoup4
python-docx
pdfplumber
pytesseract
tavily-python
pytest
langchain-openai
